/*************/
/*** THUMB ***/
/*************/
.video-thumbnail-container {
  display: block;
  min-height: 132px;
  background-color: #ffffff;
  margin: 8px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 5px 0 #a2958a;
  padding: 6px;
  text-align: left;
  transition: ease box-shadow 0.2s;
}

.video-thumbnail-container:hover {
  box-shadow: 3px 3px 5px 0 #333;
}

.video-thumbnail-container-highlight {
  display: block;
  width: auto;
  height: 100px;
  margin: 8px 8px 0px 8px;
  opacity: 0.8;
  background-color: #ddddff;
  border: 2px dotted #9999ff;
}

.video-thumbnail-img {
  display: inline-block;
  width: 150px;
  height: auto;
}

.video-thumbnail-img img {
  width: 100%;
  height: auto;
}

.video-thumbnail-title {
  display: block;
  vertical-align: top;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  font-size: 11px;
  color: #777;
  margin: 8px auto 5px auto;
}

.video-thumbnail-controls {
  float: right;
  position: relative;
  text-align: right;
  display: inline-block;
  width: 300px;
  margin: 33px auto 0px auto;
}

.video-thumbnail-controls .preview-drag {
  position: relative;
  float: none;

  color: #333;
  background-color: #ffffff;
  border-color: #adadad !important;
  border-style: solid;
  border-width: 1px !important;
  left: 0px;
  bottom: 0px;
  padding: 3px 3px 1px 5px;
  border-radius: 3px;
  cursor: move;

  top: 2px;
  margin-right: 3px;
}
.video-thumbnail-controls .preview-drag i {
  font-size: 12px;
  vertical-align: top;
  margin-top: 2px;
  color: #337ab7;
}


/******************/
/*** RESPONSIVE ***/
/******************/
@media (max-width: 990px){
  .video-preview-thumbnails {
    text-align: inherit;
    height: auto;
  }
  .video-thumbnail-img {
    width: 150px;
    height: auto;
  }
}

@media (max-width: 700px){
  .video-thumbnail-container {
    min-height: 95px;
  }
  .video-thumbnail-title {
    display: none;
  }
  .video-thumbnail-img img {
    max-width: 100px;
    max-height: 100px;
    margin-left: 0px;
    margin-right: auto;
  }
  .video-thumbnail-controls {
    margin-top: 30px;
    width: auto;
  }
}

@media (max-width: 300px){
  .video-thumbnail-img,
  .video-thumbnail-controls {
    display: block;
    width: 100%;
    float: none;
  }
  .video-thumbnail-controls {
    margin-top: 5px;
    width: 100px;
  }
  .video-thumbnail-img img {
    margin-left: auto;
    margin-right: auto;
  }
}