/*************/
/*** THUMB ***/
/*************/
.video-uploads-container {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 5px;
  width: auto;
  margin-bottom: 5px;
}

.video-preview-thumbnails {
  min-height: 255px;
}

.video-preview-thumbnails-text {
  width: 90%;
  text-align: center;
  color: #aaa;
  font-size: 1.6em;
  padding: 100px 0px;
  position: absolute;
  z-index: -1;
  transition: opacity ease 0.2s;
}

.video-preview-thumbnails-text.none {
  opacity: 0;
}

.video-preview-status {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 5px;
  width: 100%;
  margin-bottom: 5px !important;
  display: none;
}

.video-preview-progress {
  z-index: 100;
  position: absolute;
  margin-top: 0px;
  opacity: 0.8;
  height: 34px;
  pointer-events: none;
}

.video-preview-progress .progress-bar {
  padding-top: 7px;
}

.video-preview-message {
  display: none;
  margin-bottom: 5px !important;
}

.video-preview-controles {
  width: auto;
}


/*************/
/*** THUMB ***/
/*************/
.video-thumbnail-container {
  display: inline-block;
  background-color: #ffffff;
  margin: 8px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 5px 0 #a2958a;
  padding: 6px;
  text-align: center;
  vertical-align: top;
  transition: ease box-shadow 0.2s;
}

.video-thumbnail-container:hover {
  box-shadow: 3px 3px 5px 0 #333;
}

.video-thumbnail-container-highlight {
  display: inline-block;
  width: 230px;
  height: 230px;
  margin: 8px 8px 0px 8px;
  opacity: 0.8;
  background-color: #ddddff;
  border: 2px dotted #9999ff;
}

.video-thumbnail-img {
  height: 160px;
}

.video-thumbnail-img img {
  height: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.video-thumbnail-title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  text-align: center;
  font-size: 11px;
  color: #777;
  margin: 10px auto 10px auto;
}

.video-thumbnail-controls {
  margin-top: 5px;
  width: auto;
  text-align: center;
}

.video-thumbnail-controls .preview-drag {
  position: relative;
  float: left;
  background-color: #d9edf7;
  border-color: #bce8f1;
  left: -6px;
  bottom: -7px;
  padding: 2px 4px 0px 3px;
  border-top-right-radius: 5px;
  cursor: move;
}

/******************/
/*** RESPONSIVE ***/
/******************/
@media (max-width: 990px){
  .video-preview-thumbnails {
    text-align: center;
  }
  .video-thumbnail-img {
    width: 100%;
    max-height: 160px;
  }
  .video-thumbnail-img img {
    width: 100%;
    height: inherit;
  }
}